form {
  display: flex;
  gap: 12px;
  align-items: end;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px 10px;
  min-width: 220px;
}

.add-btn {
  padding: 8px 14px;
  cursor: pointer;
  background: green;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}